/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Encabezado */
h1 {
    color: #333;
    margin-top: 20px;
}

/* Botón */
button#fetchData {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0;
    transition: background-color 0.3s;
}

button.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px 0;
}

/* Estilo para el efecto hover */
button.btn:hover {
    background-color: #0056b3;
}

/* Contenedor de datos */
#datosLibros {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilo para cada libro */
#datosLibros div {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

#datosLibros img {
    border-radius: 5px;
    margin-top: 10px;
}